Repository cse110-sp24-group33/warmup-exercise, pull requests merged in 2024-04, with the labels that each got.

#8 sentiment widget HTML
  group2.html
  style2.css
Labels: HTML

#9 javascript to update and display sentiment percentages
  group2.html
  script2.js
Labels: JavaScript

#12 add js localstorage
  group2.html
  script2.js
Labels: enhancement, JavaScript

#10 adding css styling
  .DS_Store
  favicon.png
  group2.html
  icons/reset.svg
  script2.js
  style2.css
Labels: CSS
